.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;

  video{
    max-width: none;
    width: 120%;
    height: 120%;
    object-fit: scale-down;
    transform: scale(1.1);
  }

  .pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; 
    color: white; 
    pointer-events: none; 
  }
}

.healthBarFrame{
  z-index: 2;
  margin-left: -90px;
  margin-top: -110px;
  position: absolute;
  display: flex;
  height: 300px;
  width: 600px;
}

.profile{
  position: absolute;
  display: flex;
  align-items: center;
  cursor: pointer;

  .profileName{
    z-index: 3;
    font-size: 120%;
    margin-left: -430px;
    margin-top: -8px;
  }

  .playerHpText{
    z-index: 3;
    font-size: 120%;
    margin-left: 235px;
    margin-top: 60px;
  }

  .playerLevelText{
    z-index: 3;
    margin-top: 60px;
    margin-left: 42px;
  }
}

ion-progress-bar {
  z-index: 1;
  margin-top: -8px;
  margin-left: 100px;
  height: 26px;
  width: 370px;
  
}

.playerMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  position: relative;

  .personIcon, .peopleIcon, .messageIcon, .locationIcon, .configIcon, .personIconActivated, 
  .peopleIconActivated, .messageIconActivated, .locationIconActivated, .configIconActivated{
    height: 60px;
    width: 60px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .indicator {
    position: absolute;
    left: 53%;
    height: 240px;
  }

  .personMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 54%;

    .itemsIcon {
      height: 34px;
      width: 34px;
      margin-left: 24px;
      margin-top: 5px;
      position: absolute;
    }

    .itemsText {
      color: rgb(82, 82, 82);
      position: absolute;
      margin-left: 64px;
      margin-top: 10px;
    }

    .skillsIcon {
      height: 34px;
      width: 34px;
      position: absolute;
      margin-top: 52px;
      margin-left: 25px;
    }

    .skillsText {
      color: rgb(82, 82, 82);
      position: absolute;
      margin-left: 64px;
      margin-top: 57px;
    }

    .equipmentIcon {
      height: 34px;
      width: 34px;
      position: absolute;
      margin-top: 97px;
      margin-left: 25px;
    }

    .equipmentText {
      color: rgb(82, 82, 82);
      position: absolute;
      margin-left: 64px;
      margin-top: 105px;
    }
  }
}