.video-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;

  video{
    max-width: none;
    width: 120%;
    height: 120%;
    object-fit: scale-down;
    transform: scale(1.1);
  }

  .pause-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem; 
    color: white; 
    pointer-events: none; 
  }
}
